name: Bandit

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Perform Bandit Analysis
        uses: PyCQA/bandit-action@v1
        with:
          targets: "."
